/.buildpath
/.settings
.idea/*
/Akeeba Subscriptions.esproj
/relink.sh
/release
/nbproject
/koowa

/documentation/akeebasubs-guide.xml~
/TODO
/component/backend/version.php
component/backend/liveupdate/assets
component/backend/liveupdate/classes
component/backend/liveupdate/language
component/backend/liveupdate/LICENSE.txt
component/backend/liveupdate/liveupdate.php
plugins/system/oneclickaction/language/en-GB
plugins/system/oneclickaction/LICENSE.txt
plugins/system/oneclickaction/oneclickaction.php
plugins/system/oneclickaction/oneclickaction.xml
plugins/system/oneclickaction/sql
component/fof
component/strapper

component/language/en-GB
translations/plugins/system/oneclickaction

modules/site/*/language/en-GB
plugins/*/*/language/en-GB
component/language/backend
component/language/frontend
modules/admin/akeebasubs/language/en-GB

/.tx/
/tx_config

/tx.sh
/RELEASENOTES.html
/DESCRIPTION.html
/build/templates/release.json

component/backend/invoices/*.pdf
component/backend/assets/tcpdf/certificates/*.cer

_test
