# Project management
/.idea

# Transifex
/.tx
/tx.sh

# Build files
/build/bin
/build/buildlang
/build/epub
/build/phingext
/build/templates/release*.json
/build/tools
/DESCRIPTION.html
/RELEASENOTES.html

# Test configuration
/Tests/config.php

# Composer dependencies
vendor

# TCPDF
/component/backend/assets/tcpdf/certificates/*.cer

# Generated invoices
/component/backend/invoices/*.pdf

# Version and manifest files
/component/akeebasubs.xml
/component/pkg_akeebasubs.xml
/component/cli/*akeebasubs.xml
/component/backend/version.php

# Language files (symlinked)
/component/language/backend
/component/language/frontend
/modules/admin/akeebasubs/language/en-GB
/modules/site/*/language/en-GB
/plugins/*/*/language/en-GB

# Documentation backups
/documentation/*.xml~

# Release directory
/release
