<?xml version="1.0" encoding="UTF-8"?>
<config>
	<fieldset name="currency" label="COM_AKEEBASUBS_CONFIG_CURRENCY_TITLE">
		<field type="text"
			name="currency"
			default="EUR"
			label="COM_AKEEBASUBS_CONFIG_CURRENCY_CODE"
			description="COM_AKEEBASUBS_CONFIG_CURRENCY_CODE_DESC"
		/>
		<field type="text"
			name="currencysymbol"
			default="€"
			label="COM_AKEEBASUBS_CONFIG_CURRENCY_SYMBOL"
			description="COM_AKEEBASUBS_CONFIG_CURRENCY_SYMBOL_DESC"
		/>
		<field name="currencypos" type="list" default="before"
			label="COM_AKEEBASUBS_CONFIG_CURRENCY_POS_LABEL"
			description="COM_AKEEBASUBS_CONFIG_CURRENCY_POS_DESC">
			<option value="before">COM_AKEEBASUBS_CONFIG_CURRENCY_POS_BEFORE</option>
			<option value="after">COM_AKEEBASUBS_CONFIG_CURRENCY_POS_AFTER</option>
		</field>
	</fieldset>
	
	<fieldset name="backend" label="COM_AKEEBASUBS_CONFIG_BACKEND_TITLE">
		<field name="gravatar" type="list" default="1"
			label="COM_AKEEBASUBS_CONFIG_BACKEND_GRAVATAR"
			description="COM_AKEEBASUBS_CONFIG_BACKEND_GRAVATAR_DESC">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
		<field name="imagedir" type="text"
			default="images"
			size="60"
			label="COM_AKEEBASUBS_CONFIG_BACKEND_IMAGEDIR"
			description="COM_AKEEBASUBS_CONFIG_BACKEND_IMAGEDIR_DESC"
		/>
	</fieldset>
	
	<fieldset name="frontend" label="COM_AKEEBASUBS_CONFIG_FRONTEND_TITLE">
		<field name="stepsbar" type="list" default="1"
			label="COM_AKEEBASUBS_CONFIG_FRONTEND_STEPSBAR"
			description="COM_AKEEBASUBS_CONFIG_FRONTEND_STEPSBAR_DESC">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
		<field name="personalinfo" type="list" default="1"
			label="COM_AKEEBASUBS_CONFIG_FRONTEND_PERSONALINFO"
			description="COM_AKEEBASUBS_CONFIG_FRONTEND_PERSONALINFO_DESC">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
		<field name="allowlogin" type="list" default="1"
			label="COM_AKEEBASUBS_CONFIG_FRONTEND_ALLOWLOGIN"
			description="COM_AKEEBASUBS_CONFIG_FRONTEND_ALLOWLOGIN_DESC">
			<option value="0">JNo</option>
			<option value="1">JYes</option>				
		</field>
		<field name="showrenew" type="radio" default="1"
			label="COM_AKEEBASUBS_CONFIG_FRONTEND_SHOWRENEW_LABEL"
			description="COM_AKEEBASUBS_CONFIG_FRONTEND_SHOWRENEW_DESC">
			<option value="0">JNo</option>
			<option value="1">JYes</option>				
		</field >
		<field name="noneuvat" type="radio" default="0"
			label="COM_AKEEBASUBS_CONFIG_FRONTEND_NONEUVAT_LABEL"
			description="COM_AKEEBASUBS_CONFIG_FRONTEND_NONEUVAT_DESC">
			<option value="0">JNo</option>
			<option value="1">JYes</option>				
		</field >
		<field name="useppimages" type="radio" default="1"
			label="COM_AKEEBASUBS_CONFIG_FRONTEND_USEPPIMAGES_LABEL"
			description="COM_AKEEBASUBS_CONFIG_FRONTEND_USEPPIMAGES_DESC">
			<option value="0">COM_AKEEBASUBS_CONFIG_FRONTEND_USEPPIMAGES_OPT_DROPDOWN</option>
			<option value="1">COM_AKEEBASUBS_CONFIG_FRONTEND_USEPPIMAGES_OPT_IMAGEONLY</option>				
			<option value="2">COM_AKEEBASUBS_CONFIG_FRONTEND_USEPPIMAGES_OPT_IMAGEANDTEXT</option>				
		</field>
		<field name="dateformat" type="text"
			default="Y-m-d H:M"
			size="30"
			label="COM_AKEEBASUBS_CONFIG_FRONTEND_DATEFORMAT_LABEL"
			description="COM_AKEEBASUBS_CONFIG_FRONTEND_DATEFORMAT_DESC"
		/>
		<field name="vatrate" type="text"
			default="0"
			size="3"
			label="COM_AKEEBASUBS_CONFIG_FRONTEND_VATRATE_LABEL"
			description="COM_AKEEBASUBS_CONFIG_FRONTEND_VATRATE_DESC"
		/>
	</fieldset>
	
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			filter="rules"
			component="com_akeebasubs"
			section="component" />
	</fieldset>	
</config>