<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<authorization>
			<remove users="*" roles="" verbs="" />
			<deny users="*"/>
		</authorization>
	</system.web>
	<system.webServer>
		<authorization>
			<remove users="*" roles="" verbs="" />
			<deny users="*"/>
		</authorization>
	</system.webServer>
</configuration>